*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#nav li a{
    color: #899ead;
    text-decoration: none;
    line-height: 60px;
    padding: 0px 40px 24px 30px;

}
#nav li{
    display: inline-block;
}
.column-layout{
    display: flex;
    padding: 150px 10px 10px px;
}
.column-item{
    flex: 1;
}
.column-layout .column-item main-column{
    line-height: 38px;
    margin-top: 40px;
    margin-right: 40px;
}
#header{
    width: 1200px;
    margin: 0;
}

